.fourth-container {
  width: 100vw;
  height: 70vh;
  padding: 3rem;
  margin-top: 3rem;

  .absolute-cont {
    gap: 30px;
    .rob-a {
      background: url(../imgs/rob-1.png);
      background-size: cover;
    }
    .rob-b {
      background: url(../imgs/rob-2.png);
      background-size: cover;
    }
    .rob-c {
      background: url(../imgs/rob-3.png);
      background-size: cover;
    }
    .rob-d {
      background: url(../imgs/as-a.png);
      background-size: cover;
    }
    .rob-e {
      background: url(../imgs/as-b.png);
      background-size: cover;
    }
    .rob-f {
      background: url(../imgs/as-c.png);
      background-size: cover;
    }
    .fouth-img {
      align-items: start;
    }
    .deux-div {
      width: 25%;
      height: 30vw;
      .h2 {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .fourth-container {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .fourth-container {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    margin-top: 1rem;
    .absolute-cont {
      margin-bottom: -9rem;
      flex-direction: row;
      flex-wrap: wrap;

      .deux-div {
        width: 43%;
        height: 40%;
        background-position: center center;
        .buy {
          padding: 2px 5px;
          font-size: 10px;
        }
      }
    }
  }
}
